* {
    /* margin: 0;*/
    padding: 0;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    top: 43%;
    left: 0%;
    z-index: 2000;
}

div p {
    position: relative;
    color: rgb(19, 80, 44);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 0;
    margin-left: 0;
    left: 0%;
    text-align: center;
    top: 3%;
}

.s1 {
    background-image: url("./Medien/background.jpg");
    background-size: cover;
    border: 90px solid;
    border-color: white;
}

.s2 {
    background-image: url("./Medien/background.jpg");
    background-size: cover;
    border: 90px solid;
    border-color: white;
}

.section h1 {
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -20%);
    color: rgb(19, 80, 44);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    z-index: 1000;
}

#list {
    width: 100%;
    height: 2em;
    z-index: 1000;
    text-align: center;
    color: green;
    position: absolute;
    top: 0;
    margin-top: 2em;
}

nav {
    display: block;
    color: green;
}

#list div {
    right: 0px;
    margin: 20px;
    z-index: 1000;
    height: 100px;
    overflow: hidden;
    color: green;
}

#list div {
    font-size: 0.95rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-weight: 550;
}

#list div {
    display: inline;
    padding: 5px 7px;
    text-decoration: none;
    color: green;
}

a {
    color: rgb(19, 80, 44);
    padding: 4px 8px;
    text-decoration: none;
}

span a img {
    position: absolute;
    top: 65%;
    left: 47.3%;
}

#hintergrundmenu {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.plant2 {
    height: 45%;
    position: fixed;
    top: 13%;
    left: 81%;
    z-index: 3000;
}

.plant3 {
    height: 45%;
    position: fixed;
    top: 59.6%;
    left: -4%;
    z-index: 3000;
}

.plant4 {
    height: 35%;
    position: fixed;
    top: 4.4%;
    left: 26%;
    z-index: 3000;
}

.plant5 {
    height: 50%;
    position: fixed;
    top: 55%;
    left: 50%;
    z-index: 3000;
}

#list div {
    visibility: hidden;
}



*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    color: white;
    font-size: 1.2em;
    line-height: 1.6;
    background: rgb(19, 80, 44);
    overflow-x: hidden;
}

label .menu {
    position: absolute;
    right: 0px;
    top: 44.5%;
    z-index: 1000;
    width: 140px;
    height: 90px;
    background: rgb(19, 80, 44);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;

}

label .hamburger {
    position: absolute;
    top: 45px;
    left: 45px;
    width: 60px;
    height: 2px;
    background: white;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: white;
}

label .hamburger:before {
    top: -10px;
}

label .hamburger:after {
    bottom: -10px;
}

label input {
    display: none;
}

label input:checked+.menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;

}

label input:checked+.menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

}

label input:checked+.menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;

}

label input:checked+.menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;

}

label input:checked+.menu+ul {
    opacity: 1;
}

label ul {
    z-index: 1200;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
}

label a {
    margin-bottom: 0em;
    display: block;
    color: rgb(19, 80, 44);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;

}

@media only screen and (max-width: 1629px) {

    .section h1 {
        font-size: 40px;
        top: -2%;
    }



}

@media only screen and (max-width: 1290px) {

    .section h1 {
        font-size: 40px;
        top: -2%;
    }


}

@media only screen and (max-width: 1290px) {

    .section h1 {
        font-size: 40px;
        top: 2%;
    }

    div p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 940px) {

    .section h1 {
        font-size: 40px;
        top: 5%;
    }

    div p {
        font-size: 12px;
    }


}

@media only screen and (max-width: 870px) {

    .section h1 {
        font-size: 30px;
        top: 12%;
    }

    div p {
        font-size: 10px;
    }

}


@media only screen and (max-width: 870px) {

    .section h1 {
        font-size: 30px;
        top: 12%;
    }

    div p {
        font-size: 6px;
    }

}

@media only screen and (max-width: 665px) {

    a {
        color: rgb(19, 80, 44);
        padding: 4px 8px;
        text-decoration: none;
        font-size: 12px;
    }
}

@media only screen and (max-width: 620px) {

    .section h1 {
        position: absolute;
        font-size: 20px;
        left: 51%;
        transform: translate(-50%, -20%);
        color: rgb(19, 80, 44);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        letter-spacing: 0.1em;
        z-index: 1000;
    }

    div p {
        font-size: 10px;
    }

    .logo {
        position: absolute;
        top: 0%;
        left: 39%;
        z-index: 1200;
        height: 6%;
    }

    #list div {
        visibility: hidden;
    }

    .s1 {
        background-image: url("./Medien/background.jpg");
        background-size: cover;
        border: 30px solid;
        border-color: white;
    }

    .plant1 {
        height: 10%;
        position: fixed;
        top: 1%;
        left: 66.5%;
        z-index: 3000;
    }

    .plant2 {
        height: 20%;
        position: fixed;
        top: 13%;
        left: 58%;
        z-index: 3000;
    }

    .plant3 {
        height: 30%;
        position: fixed;
        top: 73%;
        left: -15%;
        z-index: 3000;
    }

    .plant4 {
        height: 25%;
        position: fixed;
        top: -4%;
        left: -9%;
        z-index: 3000;
    }

    .plant5 {
        height: 16%;
        position: fixed;
        top: 88%;
        left: 62%;
        z-index: 3000;
    }

    /**Bürger Menu */
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    html {
        font-size: 18px;
    }

    body {
        color: white;
        font-size: 1.2em;
        line-height: 1.6;
        background: rgb(19, 80, 44);
        overflow-x: hidden;
    }

    label .menu {
        position: absolute;
        left: 41%;
        top: 94%;
        z-index: 1000;
        width: 90px;
        height: 60px;
        background: rgb(19, 80, 44);
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
        cursor: pointer;
    }

    label .hamburger {
        position: absolute;
        top: 28px;
        left: 30px;
        width: 30px;
        height: 2px;
        background: white;
        display: block;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }

    label .hamburger:after,
    label .hamburger:before {
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: white;
    }

    label .hamburger:before {
        top: -10px;
    }

    label .hamburger:after {
        bottom: -10px;
    }

    label input {
        display: none;
    }

    label input:checked+.menu {
        box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
        border-radius: 0;
    }

    label input:checked+.menu .hamburger {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    label input:checked+.menu .hamburger:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        bottom: 0;
    }

    label input:checked+.menu .hamburger:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 0;
    }

    label input:checked+.menu+ul {
        opacity: 1;
    }

    label ul {
        z-index: 1200;
        position: absolute;
        top: 46%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        -webkit-transition: .25s 0s ease-in-out;
        transition: .25s 0s ease-in-out;
    }

    label a {
        margin-bottom: 2em;
        display: block;
        color: rgb(19, 80, 44);
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
    }
}


@media only screen and (max-width: 400px) {

    .section h1 {
        font-size: 15px;
        top: 12%;
    }

    .s1 {
        background-image: url("./Medien/background.jpg");
        background-size: cover;
        border: 30px solid;
        border-color: white;
    }

    .logo {
        position: absolute;
        top: 0%;
        left: 39%;
        z-index: 1200;
        height: 6%;
    }

    #list div {
        visibility: hidden;
    }

    .plant2 {
        height: 20%;
        position: fixed;
        top: 13%;
        left: 58%;
        z-index: 3000;
    }

    .plant3 {
        height: 30%;
        position: fixed;
        top: 73%;
        left: -15%;
        z-index: 3000;
    }

    .plant4 {
        height: 25%;
        position: fixed;
        top: -4%;
        left: -9%;
        z-index: 3000;
    }

    .plant5 {
        height: 16%;
        position: fixed;
        top: 88%;
        left: 62%;
        z-index: 3000;
    }

    /**Bürger Menu */
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    html {
        font-size: 18px;
    }

    body {
        color: white;
        font-size: 1.2em;
        line-height: 1.6;
        background: rgb(19, 80, 44);
        overflow-x: hidden;
    }

    label .menu {
        position: absolute;
        left: 41%;
        top: 94%;
        z-index: 1000;
        width: 90px;
        height: 60px;
        background: rgb(19, 80, 44);
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
        cursor: pointer;
    }

    label .hamburger {
        position: absolute;
        top: 28px;
        left: 30px;
        width: 30px;
        height: 2px;
        background: white;
        display: block;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }

    label .hamburger:after,
    label .hamburger:before {
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: white;
    }

    label .hamburger:before {
        top: -10px;
    }

    label .hamburger:after {
        bottom: -10px;
    }

    label input {
        display: none;
    }

    label input:checked+.menu {
        box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
        border-radius: 0;
    }

    label input:checked+.menu .hamburger {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    label input:checked+.menu .hamburger:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        bottom: 0;
    }

    label input:checked+.menu .hamburger:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 0;
    }

    label input:checked+.menu+ul {
        opacity: 1;
    }

    label ul {
        z-index: 1200;
        position: absolute;
        top: 46%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        -webkit-transition: .25s 0s ease-in-out;
        transition: .25s 0s ease-in-out;
    }

    label a {
        margin-bottom: 2em;
        display: block;
        color: rgb(19, 80, 44);
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
    }
}