body  {
    background-image: url("Medien/VanGogh.jpg");
}

h2 {
    margin-top: 0.5em;
    font-size: 350%;
    text-transform: uppercase;
    font-family: Georgia, serif;
    text-align: center;
    transform: scale(1,2); 
}

p {
    text-decoration: uppercase;
    font-family: Georgia, serif;
    font-size: 3em;
    transform: scale(1,2);
    text-align: justify;
    hyphens: auto;
    width: 23%;
    margin-top: 4.5em;
    margin-left: 4.5em;
    margin-bottom: 2.5em;
}

a {
    color: black;
    font-size: 1.5em;
    margin-left: 0.6em;
    text-decoration: none;
}

a:hover {
    color: white;
}


span a {
    font-size: 2em;
    margin-left: 12.2em;
    text-decoration: none;
}

/*verschiedene Bildschirmgrößen*/

@media only screen and (max-width: 1679px){
    p {
        width: 40%;
    }
}

@media only screen and (max-width: 1024px){

    body {
        width: 100%;
        background-image: url(Medien/land.jpg);
    }
    p {
        width: 50%;
    }
}


@media only screen and (max-width: 769px){
    body {
        width: 100%;
        background-image: url(Medien/land.jpg);
    }
    h2 {
        margin-top: 2em;
    }
    p {
        width: 65%;
        margin-left: 3em;
    }
    span a {
      margin-left: 7em;
      font-size: 3em;
    }
}

@media only screen and (max-width: 620px){
    p {
        width: 65%;
        margin-left: 2em;
    }
    span a {
        margin-left: 5em;
        font-size: 3em;
    }
}

@media only screen and (max-width: 505px){
    h2 {
        font-size: 2.8em;
    }
    p {
        width: 45%;
        margin-left: 2em;
        font-size: 2em;
        margin-left: 4.3em;
    }
    span a {
        font-size: 3em;
        margin: 1em;
        margin-left: 4em;
    }
}


@media only screen and (max-width: 416px){

    h2 {
        font-size: 2.2em;
    }
    p {
        width: 55%;
        margin-left: 2em;
        font-size: 1.6em;
        margin-left: 4em;
    }
    span a {
        font-size: 3em;
        margin: 1em;
        margin-left: 3.3em;
    }
}

@media only screen and (max-width: 372px){

    h2 {
        font-size: 2em;
    }
    p {
        width: 60%;
        margin-left: 2em;
        font-size: 1.5em;
        margin-left: 3.2em;
    }
    span a {
        font-size: 2em;
        margin: 1em;
        margin-left: 4.7em;
    }
}








