/* Alle Seite*/

/* 6 verschiedene kombinierte Selektoren, 
-Desktop (> 1024px), Tablet (600 - 1024px) und Mobil (< 600px)
-in der kleinsten Ansicht komplete Bildschirmbreite einehmen 
-2 Media-Queries 
-Flussverhalten - Flexible Box (flexbox) oder Grid Layout
-Hauptmenü und Header allgemein auf allen Bildschirmen verwendbar sind
ggf. Burger-Menu
- 2 animationen/Transitions */


 #list  {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: silver;
    position: fixed;
    text-align: center;
    top:0;   
}

#list a{
    float:left;
    
}
header {
    float:right;
    width: 390px;
}


a{
    color:rgb(2, 109, 109);
    font-size: 1.1rem;
    font-family: sans-serif;
}

a{
    display:inline;
    padding: 10px 14px;
    text-decoration: none;
    color:rgb(2, 109, 109);
}

a:hover {
    background-color: grey;
    color:black;
}

a:focus {
    color:black;
}

#current{
    background-color: cadetblue;
}





/* Überschriften*/

h2{
    font-size: 2rem;
    font-family: sans-serif;
}

h3{
    font-size: 1.5rem;
    font-family: sans-serif;
}

h4{
font-size: 1.2rem;
font-family: sans-serif;
}

@media only screen and (max-width: 600px){
    body {
        width: 100%;
    }

    #list {
        width: 100%;
    }

}

body{
    background: url(Medien/bg.png);
    text-align: center;
    font-family:sans-serif;
    max-width: 800px;
    /*width: 800px;*/
    margin:auto;
    
}
nav {
    color: black;
    text-align: right;
    word-spacing: 2em;
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30 round;
}


p{
    text-align: center;
    font-size: 1.2rem;
    font-family: sans-serif;
}

ol {
    color:cadetblue;
    list-style-type:decimal;
    list-style-position: inside;
    font-size: 1.2rem;
    text-align: center;
}

table th, td {
    border: 5px solid #a0a0a0;
}


@media only screen and (max-width: 600px){

    table {
      width:100%;
    }

    #vi {
        width:100%;
    }

    #vie {
        width: 100%;
    }
    

}

table {
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-width: thin 0 0 thin;
    table-layout:auto;
    max-width: 100%;
    width: 100%;
    color:cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    height: 3rem;
    background-color:lightgray ;
}


 th, td {
     font-weight: normal;
     text-align:center;
     padding: 0.8rem;
 }

 tr:hover {background-color:lightblue ;}

 .buttons{
    font-weight: bold;
    font-size: 1.2rem;
    }


    .button {
     background-color: cadetblue;
     border: none;
     color:white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
 


/* 1. Seite */

#Start {
    color:cadetblue;
    font-size: 5rem;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    text-shadow:cadetblue 10px 10px 10px ;
    text-align: left;
}

#center {
    text-align: center;
    font-style: italic;
    font-size: 2rem;
}

.Anordnung {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Bild {
    max-width: 266px;
    height: 22rem;
    object-fit: fill;
}
#Bildp {
    max-width: 266px;
    height: 22rem;
    object-fit: fill;

}
#Bildm{
    max-width: 266px;
    height: 22rem;
    object-fit: fill;
}

#vi {
    width: 800px;
    height: 35rem;
    object-fit: cover;
}

/* 2. Seite */

#Übermich{
    color: cadetblue;
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: whitesmoke 10px 10px 10px ;
    text-align: center;
}

#ich {
    /*border-radius: 50%;*/
    /*width:60rem;
    height: 40rem;*/
    object-fit: fill;
}

#vie {
    width: 800px;
    height:35rem;
    object-fit: cover;
}



/* 3. Seite */

#Kontakt {
    color:cadetblue;
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow:whitesmoke 10px 10px 10px;
    text-align: none;
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
  }
  
  
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  